---
import ProjectData from "./Data/Project-Data";
import TechStackLogos from "./Data/TechStackLogos";
import CdnLink from "./Data/CdnLink";
---

<section id="projects" class="py-10">
  <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
    <div class="mb-16 md:w-2/3 lg:w-1/2 reveal-element">
      <div
      class="relative mb-4 text-2xl font-bold text-sky-800 dark:text-white lg:mb-0 lg:text-4xl uppercase before:absolute before:-inset-2 before:w-full before:h-0.5 before:origin-left dark:before:bg-yelloe-500 before:mx-auto before:mt-auto before:rounded-full before:bg-sky-800 before:transition before:scale-x-[.25]"
    >
    Projects
    </div>
    </div>

    <div class="grid gap-10 md:gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {
        ProjectData.filter((project) => project.Display).map((project) => {
          if (
            project.ProjectName &&
            project.ProjectDescription &&
            project.TechStack.length &&
            project.ProjectDemoURL &&
            project.ProjectCodeURL &&
            project.ProjectImage
          ) {
            return (
              <div class="group relative rounded-3xl space-y-6 overflow-hidden border border-gray-400 dark:border-gray-800  hover:shadow-xl transition-all    hover:shadow-black/30 dark:hover:shadow-none h-96 md:h-auto reveal-element ring-gray-600 dark:ring-gray-200 ring-2">
                <div class="image-container relative overflow-hidden ">
                  <img
                    class="mx-auto grayscale object-top transition duration-500 group-hover:object-contain group-hover:grayscale-0"
                    src={CdnLink+project.ProjectImage}
                    alt={project.ProjectName}
                    loading="lazy"
                    width="1000"
                    height="1000"
                  />
                  <a
                    href={project.ProjectDemoURL}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-overlay absolute top-1/3 md:top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity  cursor-pointer "
                  >
                    <div class="flex justify-center mt-5">
                      <div class="inline-flex items-center gap-x-2 bg-white/50 border border-gray-400 text-sm text-gray-800 p-1 pl-3 rounded-full transition hover:border-gray-300  dark:border-gray-700 dark:hover:border-gray-600 0">
                        <svg
                          class="w-5 h-5"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g id="SVGRepo_bgCarrier" stroke-width="0" />
                          <g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <g id="SVGRepo_iconCarrier">
                            <path
                              opacity="0.5"
                              d="M3.27489 15.2957C2.42496 14.1915 2 13.6394 2 12C2 10.3606 2.42496 9.80853 3.27489 8.70433C4.97196 6.49956 7.81811 4 12 4C16.1819 4 19.028 6.49956 20.7251 8.70433C21.575 9.80853 22 10.3606 22 12C22 13.6394 21.575 14.1915 20.7251 15.2957C19.028 17.5004 16.1819 20 12 20C7.81811 20 4.97196 17.5004 3.27489 15.2957Z"
                              stroke="#1C274C"
                              stroke-width="1.5"
                            />
                            <path
                              d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z"
                              stroke="#1C274C"
                              stroke-width="1.5"
                            />
                          </g>
                        </svg>{" "}
                        Live Site{" "}
                        <span class="py-2 px-3 inline-flex justify-center items-center gap-x-2 rounded-full  font-semibold text-sm text-gray-200 bg-gray-700 ">
                          <svg
                            class="w-2.5 h-2.5"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                          >
                            <defs>
                              <rect
                                id="rect-1"
                                width="20"
                                height="20"
                                x="0"
                                y="0"
                              />
                              <mask
                                id="mask-2"
                                maskContentUnits="userSpaceOnUse"
                                maskUnits="userSpaceOnUse"
                              >
                                <rect
                                  width="20"
                                  height="20"
                                  x="0"
                                  y="0"
                                  fill="black"
                                />
                                <use fill="white" xlink:href="#rect-1" />
                              </mask>
                            </defs>
                            <g>
                              <use fill="none" xlink:href="#rect-1" />
                              <g mask="url(#mask-2)">
                                <path
                                  fill="none"
                                  stroke="rgb(255,255,255)"
                                  stroke-dasharray="0 0 0 0"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M15 10.83333333v5C15 16.75380792 14.25380792 17.5 13.33333333 17.5H4.16666667C3.24619208 17.5 2.5 16.75380792 2.5 15.83333333V6.66666667C2.5 5.74619208 3.24619208 5 4.16666667 5h5"
                                />
                                <path
                                  fill="none"
                                  stroke="rgb(255,255,255)"
                                  stroke-dasharray="0 0 0 0"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M12.5 2.5h5v5"
                                />
                                <path
                                  fill="none"
                                  stroke="rgb(255,255,255)"
                                  stroke-dasharray="0 0 0 0"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M8.33333333 11.66666667L17.5 2.5"
                                />
                              </g>
                            </g>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="absolute bottom-0 inset-x-0 h-max mt-auto  py-6 bg-gray-200 dark:bg-gray-900 translate-y-16 md:translate-y-[150px] transition duration-300 ease-in-out group-hover:translate-y-0 border-t-[1px] border-blue-700">
                  {project.IsOnGoing ? (
                    <div>
                      <div class="flex space-x-1 px-2 md:px-8">
                        <span class="text-lg md:text-xl  font-bold text-blue-800 dark:text-white">
                          {project.ProjectName}
                        </span>
                        <span class=" text-xs font-light  px-2 border border-black py-0.5 mb-2  rounded-2xl bg-yellow-400 hidden md:flex ">
                          Ongoing
                        </span>
                      </div>
                      <span class="block text-sm text-gray-600 dark:text-gray-400 px-2 md:px-8 gotham font-medium9os8ia">
                        {project.ProjectDescription}.
                      </span>
                    </div>
                  ) : (
                    <div>
                      <span class=" text-lg md:text-xl  font-bold text-blue-800 dark:text-white pb-2  px-2 md:px-8  ">
                        {project.ProjectName}
                      </span>
                      <span class=" block text-sm text-gray-600 dark:text-gray-400 px-2 md:px-8 gotham font-medium">
                        {project.ProjectDescription}
                      </span>
                    </div>
                  )}
                  {project.ProjectName === "Random Joke API" ? (
                    <div class="md:py-2.5" />
                  ) : null}
                  <div class="mt-2 hidden md:flex flex-wrap gap-2  px-5 justify-center">
                    {project.TechStack.map((tech) => (
                      <div>
                        <span class="inline-flex items-center text-center mx-auto rounded-full py-1 text-sm  before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 bg-gray-100 dark:bg-gray-300 text-black ">
                          <img
                            class="pl-2"
                            src={CdnLink + TechStackLogos[tech]}
                            alt={tech}
                            width="20"
                            height="20"
                          />
                          <span class="pl-1 pr-2 gotham font-medium text-center">
                            {tech}
                          </span>
                        </span>
                      </div>
                    ))}
                  </div>
                  <div class="flex justify-center items-center mt-5 ">
                    <a
                      href={project.ProjectCodeURL}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-sm text-gray-800 p-1 pl-3 rounded-full transition hover:border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:text-gray-200"
                    >
                      <img
                        src=`${CdnLink}/images/icons/github-light.svg`
                        alt="github logo"
                        width="20"
                        height="20"
                      />{" "}
                      Source Code{" "}
                      <span class="py-2 px-3 inline-flex justify-center items-center gap-x-2 rounded-full bg-gray-900 font-semibold text-sm text-gray-600 dark:bg-gray-700 dark:text-gray-400">
                        <svg
                          class="w-2.5 h-2.5"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                        >
                          <defs>
                            <rect
                              id="rect-1"
                              width="20"
                              height="20"
                              x="0"
                              y="0"
                            />
                            <mask
                              id="mask-2"
                              maskContentUnits="userSpaceOnUse"
                              maskUnits="userSpaceOnUse"
                            >
                              <rect
                                width="20"
                                height="20"
                                x="0"
                                y="0"
                                fill="black"
                              />
                              <use fill="white" xlink:href="#rect-1" />
                            </mask>
                          </defs>
                          <g>
                            <use fill="none" xlink:href="#rect-1" />
                            <g mask="url(#mask-2)">
                              <path
                                fill="none"
                                stroke="rgb(255,255,255)"
                                stroke-dasharray="0 0 0 0"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M15 10.83333333v5C15 16.75380792 14.25380792 17.5 13.33333333 17.5H4.16666667C3.24619208 17.5 2.5 16.75380792 2.5 15.83333333V6.66666667C2.5 5.74619208 3.24619208 5 4.16666667 5h5"
                              />
                              <path
                                fill="none"
                                stroke="rgb(255,255,255)"
                                stroke-dasharray="0 0 0 0"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12.5 2.5h5v5"
                              />
                              <path
                                fill="none"
                                stroke="rgb(255,255,255)"
                                stroke-dasharray="0 0 0 0"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M8.33333333 11.66666667L17.5 2.5"
                              />
                            </g>
                          </g>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            );
          }
        })
      }
    </div>
  </div>
</section>

<style>
  /* Container for the image with overflow hidden */
  .image-container {
    width: 100%;
    max-height: 400px;
    /* Adjust the height as needed to control the visible portion */
    overflow: hidden;
    position: relative;
  }
  /* Define a keyframe animation for scrolling */
  @keyframes scrollImage {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-75%);
    }
  }
  /* Apply the animation to the image when hovered */
  .group:hover .image-container img {
    animation: scrollImage 30s linear;
    /* Adjust the duration and timing function as needed */
  }
</style>
